@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-gov.min.css");


:root {
  --font-main: 'Pretendard GOV', sans-serif;
  --deep-onyx: #121212;
  --charcoal-grey: #282B2B;
  --ash-white: #EAEAEA;
  --placeholder: #A2A2A2;
  --slate-blue: #3A506B;
  --muted-sand: #C6B7A6;
  --Pointer:#FF564C;
  --white: #fff;
  --h1: 48px;
  --h2: 36px;
  --h3: 28px;
  --h4: 22px;
  --h5: 18px;
  --text-base: 14px;
  --text-small : 13px;
}

a{color: inherit;
  &:focus{outline: 1px solid var(--charcoal-grey);}
  &:active{outline: none;}
}
button{font-family:inherit;background: none;border:none;
  &:disabled{display: none;}
}
label{display: flex;align-items: center;gap: 0 4px;cursor: pointer;}
html,body{font-family: var(--font-main);color: var(--charcoal-grey);background-color: white;font-size: var(--text-base);min-height:100%;
  h1{font-size: var(--h1);}
  h2{font-size: var(--h2);letter-spacing:-0.02em;}
  h3{font-size: var(--h3);}
  h4{font-size: var(--h4);}
  h5{font-size: var(--h5);}
}

/** 인풋 기본 디자인 */
input:read-only{background-color: var(--ash-white);}
input[type=text],
input[type=email],
input[type=password],
input[type=number]{width: 100%;font-family: inherit;font-size: var(--text-base);color: var(--charcoal-grey);border: solid var(--charcoal-grey) 1px;border-radius: 3px;box-sizing: border-box;padding: 6px 8px;
  &::placeholder{color: var(--placeholder);font-weight: 300;}
  &:focus{outline-color: var(--slate-blue);box-shadow: 0 0 3px var(--slate-blue);}
}

/** 테이블 너비 */
$itemNumber : 50px;
$itemID : 50px;
$itemDiscountRate : 80px;
$itemPriceInfo : 140px;
$itemTotalScore : 80px;
$itemDate : 140px;
$itemSalesVolume : 50px;

/** 테이블 디자인*/
.tablePage{
  display:flex;flex-direction: column;gap: 20px 0;overflow-y: auto;
  .itemSubMenu{display: flex;justify-content: space-between;align-items: center;gap: 30px;}
  .itemTableWrap{overflow-y: auto;
    .itemTable{display: block;width: 100%; min-width: min-content;
      th,td{display: flex;justify-content: center;flex: 1;align-items: center;}
      th{align-items:center;}
      td{padding: 10px;}
      .itemThead{display: flex; height: 42px;border-top:solid 1px var(--charcoal-grey);border-bottom:solid 1px var(--charcoal-grey);}
      .itemTbody{display: flex; flex-direction: column;
        .itemTr{border-bottom: $boredrStyle}
        .itemInfo{justify-content: flex-start;
          .itemImg{width: 80px;flex: 0 0 80px;aspect-ratio: 3/4; border: solid 1px var(--charcoal-grey); margin-right: 10px;
            img{width: 100%;height: 100%; object-fit: cover;}
          }
          .itemDetailInfo{display: flex; flex-direction: column; gap: 10px; min-width: 400px;
            a{text-decoration: underline;color: var(--slate-blue);}
          }
        }
      }
      .itemTr{display: flex;flex:1;;
        .itemNumber{width: $itemNumber;flex:0 0 $itemNumber;}
        .itemID{width: $itemNumber;flex:0 0 $itemNumber;}
        .itemDiscountRate{width: $itemDiscountRate;flex:0 0 $itemDiscountRate;}
        .itemPriceInfo{width: $itemPriceInfo;flex:0 0 $itemPriceInfo; flex-direction: column;
          span{display: block;}
          .itemOriginalPrice{text-decoration: line-through;}
        }
        .itemTotalScore{width: $itemTotalScore;flex:0 0 $itemTotalScore;}
        .itemDate{width: $itemDate;flex:0 0 $itemDate;}
        .itemSalesVolume{width: $itemSalesVolume;flex:0 0 $itemSalesVolume;}
        .itemDelFlag{width: $itemDate;flex:0 0 $itemDate;
          &.deleted{color: var(--Pointer);}
          &.active{color: var(--slate-blue);}
        }
      }
    }
  }
}

/** 버튼 디자인 모음 */
button.btn,
a.btn{display: flex;justify-content: center;align-items: center;font-size: var(--text-base);border: none;border-radius: 3px;min-width: 74px;border:1px solid transparent;padding: 6px 12px;
  
  &.black{color: var(--ash-white);background: var(--charcoal-grey);border-color: var(--charcoal-grey);}
  &.gray{color: var(--charcoal-grey);background: var(--ash-white);border-color: var(--ash-white);}
  &.line{color: var(--charcoal-grey);background: var(--white);border-color: var(--charcoal-grey);}

  /**큰 버튼 기본 */
  &.bigBtn{font-size: 16px;padding: 10px 20px;
    /**볼드 처리 */
    &.bold{font-weight: bold;}
  }

}

/** 입력필드 기본 디자인 */
.inputWrap{
  .inputTitle{display: flex;gap: 0 4px;margin-bottom: 2px;}
  .inputBox{display:flex;gap: 0 10px;
    button{white-space: nowrap;}
  }
}
.borderSection{flex-direction:column; border: solid 1px var(--charcoal-grey);border-radius: 3px;padding: 29px;

  &.filter{display:flex;gap:20px 0;
    >strong{display: block;font-size: var(--h3);}
  }
  .inputTitle{font-size: var(--h5);}
}


/** 주소검색 기본 디자인 */
.addressSearch{
  display: flex; flex-direction: column; gap:10px;
  .search{display: flex;gap: 0 10px;
    button{white-space: nowrap;}
  }

}

#root{display:flex;flex-direction:column;min-height:100%;}
.blind{display:none;}
.innerWrap{padding: 0 $innerPadding;}
.container{padding-top: $headerHeight;min-height: 100%;}
.point{color: var(--Pointer);}

/** 헤더 */
.header{
  position: fixed;top:0;left:0;width:100%;background:#fff;z-index: 100;
  .innerWrap{display: flex;align-items: center;height:$headerHeight;border-bottom:solid 1px transparent;
    ul{display:flex;align-items: center;gap:0 24px;}
    .logo a{display: block;
      svg{width:127px;display: block;}
    }
    .gnb{margin:0 auto 0 32px;}
    .utillMenu{margin-left: 42px;}
  }
}

/** 푸터 */
.footer{margin-top: auto;
  .innerWrap{padding-top:40px;padding-bottom:40px;border-top:solid 1px transparent;}
  .f_content_top{display: flex;align-items: flex-start;justify-content: space-between;
    .logo svg{width:366px;}
    .f_siteMap .f_cartegory{display: flex;gap: 0 40px;
        >li:first-of-type{margin-right: -22px;}
        >li>a{font-size: var(--h5);font-weight: bold;}
        .f_subCartegory{padding-top: 10px;display: flex;flex-direction: column;gap: 10px;}
      }
    }
  .f_content_botton{margin-top: auto;
    .csBtn,
    .infoDetail{display: flex;align-items: center;}
    .csBtn{display: flex;gap: 0 12px;}
    .infoDetail{margin-top: 14px;max-width: 772px;flex-wrap: wrap;font-size:var(--text-small);color: var(--placeholder);gap: 3px 12px;
      span{font-size: inherit;color: inherit;display: block;white-space: nowrap;}
    }
  }
}
