.magazineMain {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.magazineItem{
  width: 1260px;
  height: auto;
  margin-bottom: 10px;  
}


.magazineItem{
  display: flex;
  gap: 20px
}


.imageContainer{
  width: 148px;
  height: 148px;
}

.magazineAside {
  position: sticky;
  top: 0;
  text-align: end;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 320px;
  margin-left: 40px;
}

.magazineAside .p {
  font-size: var(--h4);
}

.magazineAside .searchBox {
  display: flex;
  gap: 10px;
}

.magazineAside .searchBox input {
  text-align: end;

}

.magazineAside .searchBox button {
  background-color: var(--deep-onyx);
  color: var(--ash-white);
  padding: 7px 13px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.magazineAside .paginationContainer {
  margin-top: 300px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
}


/* 매거진 상세페이지 */

.detailMain{
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.detaiLeft{
  display: flex;
  align-items: center;
  justify-content: center;
}



.detailRight .date{
  color: var(--placeholder);
  text-align: end;
  margin-bottom: 400px;
  
}

.detailRight .page{
  display: flex;
  justify-content: end; 
  gap: 10px; 
}

.detaiRight .page .span{
  cursor: pointer;
}